html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: vazir;
    src: url('../../fonts/Vazir.ttf');
}

@font-face {
    font-family: IranSans;
    src: url('../../fonts/IRANSansWeb\(FaNum\).woff');
}

:root {
    --fastDelay: 25ms;
    --delay: 200ms;
}

body {
    margin: 0;
    font-size: 1em;
    direction: rtl;
    color: var(--theme-light-darkText);
    font-family: vazir;
    background-color: var(--theme-light-background);
}

a {
    text-decoration: none;
    color: var(--theme-light-darkText);
}

ul {
    padding-inline-start: 0;
}

i {
    vertical-align: -0.125em;
    color: var(--theme-primary-main);
}

.bi {
    display: unset !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin-block: 0;
    margin-inline: 0;
    margin: 0;
}

input[type="button"],
.button {
    width: fit-content;
    /*width: -moz-fit-content;*/
    border: none;
    float: left;
    cursor: pointer;
    margin: 0 0.5em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    color: var(--theme-light-lightText);
    background-color: var(--theme-primary-main);
    transition: background-color .5ss ease-in-out;
    box-shadow: 0.1em 0.2em 0.2em var(--theme-light-background-shadow-26);
}

input[type="button"]:hover,
.button:hover {
    transition: all var(--delay) ease-in-out;
    background-color: var(--theme-primary-after);
}

input[type="search"] {
    border: 2.5px solid var(--theme-primary-after);
    padding: 0.4em 1em;
    border-radius: 0.5em;
}

.pub-flex {
    display: flex !important;
    justify-content: center;
}

.container{
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 1270px;
    padding: 1em;
}

.pub-warpper{
    width: 100%;
}

.fullShadow{
    box-shadow: 0.1em 0.2em 0.2em var(--theme-light-background-shadow-26), -0.1em -0.2em 0.2em var(--theme-light-background-shadow-26);
}

.shadow{
    box-shadow: 0.1em 0.2em 0.2em var(--theme-light-background-shadow-26);
}

.br-1{
    border-radius: 1em;
}

.br-smaill{
    border-radius: 0.5em;
}
.fa-num{
    font-family: IranSans;
}

.fs-smaill{
    font-size: 0.8em;
}

.m-small{
    margin: 0.5em;
}
/* .p-small{
    padding: 0.4em;
} */