*{
    font-family: vazir;
}
html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: vazir;
    src: url('../../fonts/Vazirmatn-FD-Regular.woff2');
}

@font-face {
    font-family: IranSans;
    src: url('../../fonts/IRANSansWeb\(FaNum\).woff');
}

:root {
    --fastDelay: 25ms;
    --delay: 200ms;
}

body {
    margin: 0;
    font-size: 1em;
    direction: rtl;
    color: var(--theme-light-darkText);
    background-color: var(--theme-light-background);
}

button{
    background-color: transparent;
    cursor: pointer;
    border: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--theme-light-darkText);
}

ul {
    padding-inline-start: 0;
}

i {
    vertical-align: -0.125em;
    color: var(--theme-primary-main);
    width: 320px;
}

.bi {
    display: unset !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin-block: 0;
    margin-inline: 0;
    margin: 0;
}

input[type="button"],
.button {
    width: fit-content;
    width: -moz-fit-content;
    font-family: vazir;
    border: none;
    float: left;
    cursor: pointer;
    margin: 0 0.5em;
    padding: 0.25em 1em;
    border-radius: 0.5em;
    color: var(--theme-light-lightText);
    background-color: var(--theme-primary-main);
    transition: background-color .5s ease-in-out;
    box-shadow: 0.1em 0.2em 0.2em var(--theme-light-background-shadow-145);
}

input[type="button"]:hover,
.button:hover {
    transition: all var(--delay) ease-in-out;
    background-color: var(--theme-primary-after);
}

input[type="search"] {
    border: 2.5px solid var(--theme-primary-after);
    padding: 0.4em 1em;
    border-radius: 0.5em;
}

.pub-flex {
    display: flex !important;
    justify-content: center;
}

.container {
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 1300px;
    padding: 1em;
}

.pub-warpper {
    width: 100%;
}

.fullShadow {
    box-shadow: 0 0 16px var(--theme-light-background-shadow-145);
}

.shadow {
    box-shadow: 0.1em 0.2em 0.2em var(--theme-light-background-shadow-145);
}
.p-0{
    padding: 0;
}
.br-1 {
    border-radius: 1em;
}
.br-top{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.br-bottom{
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
.br-smaill {
    border-radius: 0.5em;
}

.fs-smaill {
    font-size: 0.8em;
}
.p-812{
    padding: 8px 12px;
}
.m-small {
    margin: 0.5em 0.75em !important;
}
.lh-2{
    line-height : 2em;
}
/* .p-small{
    padding: 0.4em;
} */