/*#region Header Styles*/
.header {
    height: 5.5em;
    padding: 2em 0 4em 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.header-logo {
    max-width: 240px;
    flex: 1;
}

.header-logo img {
    width: 200px;
}

.header-search {
    max-width: 300px;
    flex: 2;
}

/*#endregion*/

/*#region Nav Styles*/

.nav {
    align-items: center;
    max-width: 720px;
    flex: 3;
}

.nav-items {
    min-width: 8em;
}

.nav-items a {
    margin: 0 auto;
}

.nav-list {
    display: flex;
    margin: 0 auto;
}


.nav-list li {
    line-height: 2.5em;
    border-top: 1px solid var(--theme-light-background-shadow-25);
    display: flex;
}

.nav-groups a {
    margin: 0 auto;
}

.nav-groups {
    z-index: 1;
    height: 0;
    transition: all var(--delay) ease-in-out;
}

.chiledItem {
    opacity: 0;
    visibility: hidden;
}

.nav-groups:hover .chiledItem {
    opacity: 1;
    visibility: visible;
    transition: all var(--delay) ease-in-out;
}

/*#endregion*/

/*#region Warpper Styles*/
.heroImage {
    max-width: 720px;
    padding: 0 2em;
}

.heroImage img {
    max-height: 380px;
}

.hero {
    max-width: 720px;
    justify-content: space-around;
    text-align: justify;
    padding: 1.5em 5em;
    flex-direction: column;
    background-color: var(--theme-light-background-shadow-065);
}

.warpper {
    z-index: 0;
}

/*#endregion*/

/*#region Section Styles*/
.section {
    flex-flow: row wrap;
    text-align: justify;
}

.sectionElements {
    margin: 1em auto;
    width: 25em;
    height: 17em;
}

.sectionElementItem {
    max-width: 85%;
    line-height: 1.75em;
    margin: 1em auto 0;
}

.sectionElementItem h3 {
    margin: 1.2em 0 0.8em;
}

.sectionElementItem p {
    margin: 0 0.8em;
}

/*#endregion*/
/*#region Weblog Styles*/
.webLog {
    flex-direction: column;
}   

.webLogContents{
    align-items: center;
    justify-content: space-evenly;
    width: inherit;
    height: 34em;
}

.webLogContent{
    width: 300px;
    height: 90%;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.webLogContentThumbnail{
    height: auto;
    margin:0.75em 0;
}

.webLogContentThumbnail img{
    width: 100%;
}

.webLogContentDetail{
    width: 90%;
    justify-content: space-between;
}

.webLogContentDetail a{
    color: var(--theme-primary-main) !important;
}
.webLogContentTags{
    border-top: 1px dashed var(--color-text-light);
    border-bottom: 1px dashed var(--color-text-light);
    justify-content: flex-start;
    width: 95%;
    padding: 0;
}
.webLogContentTag{
    background-color: var(--theme-light-background-shadow-085);
    padding: 0.2em 0.5em;
}
.WebLogContentDescription,
.WebLogContentHeader{
    text-align: justify;
}
.WebLogContentDescription{
    font-size: 13px;
}
.WebLogContentActions{
    border-top: 1px dashed var(--color-text-light);
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    height: inherit;
    width: 95%;
}
/*#endregion*/
/*#region card Styles*/
.card {
    height: 20em;
    color: var(--color-text-light);
    background-color: var(--theme-light-darkText);
}

.cardContent {
    flex-direction: column;
}

.cardHeader span,
.webLogHeader span {
    color: orange;
}

.cardHeader,
.webLogHeader {
    align-items: center;
    margin: 2em;
    justify-content: space-between;
}

.cardContents {
    justify-content: space-evenly;
}

.cardLink {
    max-width: 300px;
    height: 180px;
    font-size: 1.1em;
    position: relative;
    text-align: center;
}

.cardLink img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cardLinkDetails {
    top: 0;
    color: transparents;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all var(--Delay) ease-in;
}

.cardLink:hover .cardLinkDetails {
    opacity: 1;
    visibility: visible;
    color: var(--color-text-light);
    backdrop-filter: blur(0.2em);
    -webkit-backdrop-filter: blur(0.2em);
    background-color: var(--theme-light-background-shadow-26);
    transition: all var(--delay) ease-in-out;
}

/*#endregion*/

/*#region footer Styles*/
.footer {
    flex-direction: column;
    margin: 0 auto;
}

.footerSection {
    width: 1440px;
    height: auto;
    margin: 0 auto;
}


.footerMainSection {
    height: 80%;
    margin: 0 auto;
    align-items: center;
}


.footerRightSection {
    width: 60%;
    height: 90%;
}

.helpfullLink {
    margin: 2.5em 1em;
    justify-content: flex-start;
}

.helpfullLink a {
    margin: 0 1.5em;
}

.AboutInFooter {
    margin: 2.5em;
    line-height: 2em;
}

.symbols {
    width: 40%;
    height: 90%;
    align-items: center;
}

.footerBottomSection {
    border-top: 1px solid var(--theme-light-background-shadow-26);
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 20%;
}

.privacy {
    max-width: 60em;
}

.socialMedia {
    max-width: 30em;
}

.social {
    margin: 0 1em;
}

/*#endregion*/